{{ define "root-body"}}
<div>
  Index Page
  <a href="/admin/login">Login</a>
</div>
{{ end }}

{{ define "root-script"}}
<script>
  console.log("index")
</script>
{{ end }}

{{ define "root-style"}}
{{ end }}