 {{ define "root-body"}}
<div>
  
  <div class="columns is-mobile">
    <div class="column"></div>
    <div class="column">
      <form  method="POST">
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" type="text" placeholder="Username">
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Password">
          </div>
        </div>        
        <button type="submit" class="button is-primary">Login</button>
      </form>
    </div>
    <div class="column"></div>
  </div>

  

  
</div>
{{ end }}

{{ define "root-script"}}
{{ end }}

{{ define "root-style"}}
{{ end }}